<!DOCTYPE html>
<html>
<head>
    <title>OpenPose Video Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload a video</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp4, .avi, .mov">
        <input type="submit" value="Upload">

    </form>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenPose Video Analysis</title>
</head>
<body>
    <h1>OpenPose Video Analysis</h1>
     -->
    <!-- ボタンをクリックしてアプリケーションを実行 -->
    <!-- <form action="/upload" method="POST">
        <button type="submit">Run OpenPose Analysis</button>
    </form>
</body>
</html> -->



